*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 600px;
  height: 600px;
  border: 2px solid blue;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  gap: 10px 10px;
  padding: 10px;
}
.field {
  width: 100%;
  height: 100%;
  background-color: blue;
  &__circle {
    background-image: url("/circle.png");
    background-position: center;
    background-size: cover;
    background-color: white;
  }
  &__cross {
    background-image: url("/cross.png");
    background-position: center;
    background-size: cover;
    background-color: white;
  }
}
.end-wrapper {
  width: 700px;
  height: 700px;
  background-color: white;
  position: fixed;
  left: 50%;
  top: 15px;
  transform: translateX(-50%);
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
  line-height: 200px;
  &__button {
    display: block;
    padding: 6px 10px;
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: blue;
    border: 2px solid blue;
    cursor: pointer;
  }
}
