*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 600px;
  height: 600px;
  border: 2px solid purple;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  gap: 10px 10px;
  padding: 10px;
}
.field {
  width: 100%;
  height: 100%;
  background-color: purple;
  &__circle {
    background-image: url("/circle.png");
    background-position: center;
    background-size: cover;
    background-color: white;
  }
  &__cross {
    background-image: url("/cross.png");
    background-position: center;
    background-size: cover;
    background-color: white;
  }
}
